@font-face {
    font-family: montserrat;
    src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: sourcesans3;
    src: url(/assets/fonts/SourceSans3-Light.ttf);
}

$font1: "montserrat";
$font2: "sourcesans3";
$color1: rgb(204,204,204);
$color2: skyblue;

@mixin title {
    font-family: $font2;
    font-size: 2.5rem;
    font-weight: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a,a:visited {
    color: black;
    text-decoration: none;
}

body {
    text-align: center;
    margin: 0 auto;
    font-family: $font1;
}

.btn {
    background: none;
    border: 1px solid $color1;
    border-radius: 50px;
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.7rem;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        color: $color2;
        border: 1px solid $color2;
    }
}

p {
    text-align: left;
    margin: 25px 0;
    line-height: 35px;
    font-weight: 300;
    margin-bottom: 30px;
    font-family: $font2; 
    
}

h2 {
    @include title;
}