@font-face {
  font-family: montserrat;
  src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: sourcesans3;
  src: url(/assets/fonts/SourceSans3-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a, a:visited {
  color: black;
  text-decoration: none;
}

body {
  text-align: center;
  margin: 0 auto;
  font-family: "montserrat";
}

.btn {
  background: none;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 50px;
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.7rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.btn:hover {
  color: skyblue;
  border: 1px solid skyblue;
}

p {
  text-align: left;
  margin: 25px 0;
  line-height: 35px;
  font-weight: 300;
  margin-bottom: 30px;
  font-family: "sourcesans3";
}

h2 {
  font-family: "sourcesans3";
  font-size: 2.5rem;
  font-weight: 100;
}

header {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}
header .left-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .left-header .head-content {
  margin: auto 60px;
  text-align: left;
}
header .left-header .head-content h1 {
  font-family: "sourcesans3";
  font-size: 2.5rem;
  font-weight: 100;
  font-size: 3.5rem;
  letter-spacing: 2px;
}
header .right-header {
  background: url(/assets/img/banner.jpg) right/cover;
}

main .section1 {
  display: grid;
  grid-template-columns: 37% 63%;
  min-height: 400px;
}
main .section1 .left-img {
  background: url(/assets/img/img-left.jpg) center/cover;
}
main .section1 .right-part {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}
main .section2 {
  display: grid;
  grid-template-columns: 63% 37%;
  min-height: 400px;
}
main .section2 .left-part {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}
main .section2 .right-img {
  background: url(/assets/img/img-right.jpg) center/cover;
}
main .section3 {
  margin: 40px auto;
  text-align: center;
  max-width: 1100px;
}
main .section3 .grid {
  margin: 40px auto;
  max-width: 600px;
  gap: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 230px;
  grid-template-areas: "input1 input2" "txtarea txtarea";
}
main .section3 .grid label {
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
main .section3 .grid input[type=text], main .section3 .grid textarea {
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(204, 204, 204);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
main .section3 .grid input[type=text]:focus, main .section3 .grid textarea:focus {
  border: solid skyblue;
}
main .section3 .grid textarea {
  resize: none;
  height: 100px;
}
main .section3 .textarea {
  grid-area: txtarea;
}

footer {
  padding: 70px 0 90px;
  position: relative;
}
footer::before {
  content: "";
  position: absolute;
  background: rgb(204, 204, 204);
  height: 1px;
  width: 90%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 300px;
  margin: 0 auto;
}
footer ul a {
  font-size: 1.2rem;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 50px;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer ul a:hover {
  color: skyblue;
  border: 1px solid skyblue;
}/*# sourceMappingURL=index.css.map */